[Unit]
Description=Configure AWS instance
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/usr/share/tiertune/tiertune-aws.yml

[Service]
Type=oneshot
Environment="TIERTUNE_LOGLEVEL=DEBUG"
ExecStart=/usr/bin/tiertune-aws
ExecStopPost=/usr/bin/rm -f /etc/systemd/system.conf.d/tiertune.conf
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
