[Unit]
Description=Configure GCE instance
After=local-fs.target
ConditionPathExists=/usr/share/tiertune/tiertune-gce.yml

[Service]
Type=oneshot
Environment="TIERTUNE_LOGLEVEL=DEBUG"
ExecStart=/usr/bin/tiertune-gce
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
