[Unit]
Description=Configure AWS instance
ConditionFirstBoot=yes
# Order before the target that finalizes the first boot state
Before=first-boot-complete.target
Wants=first-boot-complete.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tiertune-aws
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
