[Unit]
Description=Configure GCE instance
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/usr/share/tiertune/tiertune-gce.yml

[Service]
Type=oneshot
Environment="TIERTUNE_LOGLEVEL=DEBUG"
ExecStart=/usr/bin/tiertune-gce
ExecStopPost=/usr/bin/rm -f /etc/systemd/system.conf.d/tiertune.conf
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
