[Unit]
Description=Configure Azure instance
After=local-fs.target
ConditionPathExists=/usr/share/tiertune/tiertune-azure.yml

[Service]
Type=oneshot
Environment="TIERTUNE_LOGLEVEL=DEBUG"
ExecStart=/usr/bin/tiertune-azure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
