[Unit]
Description=Configure Azure instance
After=local-fs.target
ConditionPathExists=/etc/tiertune-azure.yml

[Service]
Type=oneshot
ExecStart=/usr/bin/tiertune-azure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
