[Unit]
Description=Configure GCE instance
After=local-fs.target
ConditionPathExists=/etc/tiertune-gce.yml

[Service]
Type=oneshot
ExecStart=/usr/bin/tiertune-gce
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
