[Unit]
Description=Configure AWS instance
DefaultDependencies=no
ConditionFirstBoot=yes
After=local-fs.target
ConditionPathExists=/usr/share/tiertune/tiertune-aws.yml

[Service]
Type=oneshot
Environment="TIERTUNE_LOGLEVEL=DEBUG"
ExecStart=/usr/bin/tiertune-aws
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
